@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*colors*/
  --tx-white: hsl(0, 0%, 100%);
  --bg-Grey: hsl(0, 0%, 20%);
  --bg-Dark-Grey: hsl(0, 0%, 12%);
  --bg-Darker-Grey: hsl(0, 0%,9%);
  --lime-green: hsl(75, 94%, 57%);
  --bg-Off-Black: hsl(0, 0%, 8%);
  --outer-margin: 1.5rem;
}

body {
  
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-Off-Black);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 4rem 0;
  height: 100vh;
  background-color: var(--bg-Darker-Grey);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--bg-Dark-Grey);
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 1rem;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

img {
  border-radius: 50%;
  width: 7rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--tx-white);
}

h4 {
  color: var(--lime-green);
  font-weight: 600;
}

p {
  font-size: 0.875rem;
  color: var(--tx-white);
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.social-networks {
  text-align: center;
  color: var(--tx-white);
  font-weight: 600;
  background-color: var(--bg-Grey);
  padding: 1rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.social-networks:hover {
  color: var(--bg-Dark-Grey);
  background-color: var(--lime-green);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}